.notification {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    border: solid 1px #d3d3d3;
}

.dangerous {
    background-color: #ffdcdf;
    border: none;
}

.important {
    color: #700000;
    font-weight: bolder;
}